

.cd-intro-block a {
  color: #000;
  text-decoration: none;
}

.cd-intro-block img {
  max-width: 100%;
}

/* -------------------------------- 
Patterns - reusable parts of our design
-------------------------------- */
.cd-btn {
    font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  padding: 1em 1em;
  border-radius: 40em;
  background-color: gray;
    opacity: 0.8;
  box-shadow: 0 1px 20px rgba(238, 187, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.no-touch .cd-btn:hover {
  box-shadow: 0 1px 30px rgba(238, 187, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.cd-img-replace {
  /* replace text with image */
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 
Intro page
-------------------------------- */
.cd-intro-block {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background-image: url(cooveryy.jpg)  ;
    background-repeat: no-repeat;
  /* used to vertical align its content */
  display: table;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.cd-intro-block::after {
  /* arrow icon visible when .cd-intro-block slides out */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  top: 95%;
  height: 24px;
  width: 24px;
  background: url(arrow-back.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-intro-block .content-wrapper {
  /* vertical align the .cd-intro-block content */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cd-intro-block h1 {
  width: 90%;
  margin: 0 auto .6em;
  font-size: 2.4rem;
  color: #ebebeb;
    opacity: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




cd-intro-block.projects-visible {
  /* translate the .cd-intro-block element to reveal the projects slider */
  -webkit-transform: translateY(-90%);
  -moz-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  -o-transform: translateY(-90%);
  transform: translateY(-90%);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.cd-intro-block.projects-visible:after {
  /* show arrow icon */
  opacity: 1;
}
@media only screen and (min-width: 900px) {
  .cd-intro-block::after {
    top: 97.5%;
  }
  .cd-intro-block h1 {
    font-size: 4.4rem;
    font-weight: 300;
  }
  .cd-intro-block.projects-visible {
    -webkit-transform: translateY(-95%);
    -moz-transform: translateY(-95%);
    -ms-transform: translateY(-95%);
    -o-transform: translateY(-95%);
    transform: translateY(-95%);
  }
}
